body{
	margin: 20px auto;
	width: 70%;
	border: 30px purple solid;
	padding: 20px;
	background-color: lime;
	color: red;
	background-image: url('bela.jpg');
	background-repeat: repeat;
	background-position: center center;
	
		
}h1{
		color: blue;
font-weight: normal;
}
p{
	color: red;
	fonr-family: arial;
	border: 1px green dotted;
	 
}
#elsosor{
	text-ident: 20px;	
}
#tomor{
	list-style-type:disc;
}
#ures{
	list-style-type:circle;
}
#negyzet{
	list-style-type:square;
}